<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/style.css">
	<title>Birthday Party 🥳</title>
</head>
<body>
	<h1>Birthday Party 🥳</h1>
	<p>A distributed search for hash collisions, via parallel pollard rho with distinguished points.</p>
	<p>Recommended reading:</p>
	<ul>
		<li><a href="https://en.wikipedia.org/wiki/Birthday_problem">Birthday Paradox</a></li>
		<li><a href="https://www.cs.csi.cuny.edu/~zhangx/papers/P_2018_LISAT_Weber_Zhang.pdf">"Parallel Hash Collision Search by Rho Method with Distinguished Points"</a> (Brian Weber and Xiaowen Zhang, 2018).</li>
	</ul>

	<h2>Config</h2>
	<p><strong>Target collision length:</strong> {{ hash_length_bits }} bits</p>
	<p><strong>Distinguished Point difficulty:</strong> {{ dp_difficulty }} bits</p>

	<h2>Stats</h2>
	<p><strong>Database size:</strong> {{ db_size }}</p>
	<p><strong>Distinguished Points found:</strong> {{ dps_found_formatted }} (2<sup>{{ dps_log }}</sup>)</p>
	<p><strong>Total hashes computed:</strong> {{ approx_hashes_formatted }} (2<sup>{{ approx_hashes_log }}</sup>) (approx.)</p>
	<p><strong>Total hashes required for 50% success chance:</strong> {{ breakeven_hashes_formatted }} (2<sup>{{ breakeven_hashes_log }}</sup>) - We're {{ "%.2f"|format(progress_percent) }}% of the way there!</p>
	<progress max="100" value="{{ progress_percent }}">{{ progress_percent }}%</progress>
	<p><strong>Time until 50% success:</strong> {{breakeven_eta}}</p>
	<p><strong>Probability of having found at least one collision by now:</strong> {{ "%.2f"|format(success_percent) }}% (Note: this percentage will climb non-linearly!)</p>
	<progress max="100" value="{{ success_percent }}">{{ success_percent }}%</progress>
	<p><strong>Expected number of collisions found:</strong> TODO</p>
	<p><strong>Pre-collisions found:</strong> {{ precollisions_found }}</p>
	<p><strong>Network hashrate (60s avg):</strong> {{ hashrate_str }}</p>

	<h2>Users</h2>
	<table>
		<tr>
			<th>id</th>
			<th>username</th>
			<th>dp count</th>
			<th>est. hash count</th>
		</tr>
		{% for userid, username, dpcount, hashcount in users %}
		<tr>
			<td>{{ userid }}</td>
			<td>{{ username }}</td>
			<td>{{ dpcount }}</td>
			<td>{{ hashcount }}</td>
		</tr>
		{% endfor %}
	</table>

	<h2>Recent Distinguished Points</h2>
	<table>
		<tr>
			<th>timestamp (UTC+0)</th>
			<th>start hash</th>
			<th>end hash</th>
			<th>username</th>
		</tr>
		{% for dptime, dpstart, dpend, username in recent_dps %}
		<tr>
			<td>{{ dptime }}</td>
			<td><code>{{ dpstart }}</code></td>
			<td><code>{{ dpend }}</code></td>
			<td>{{ username }}</td>
		</tr>
		{% endfor %}
	</table>

	<h2>Pre-Collisions</h2>
	<table>
		<tr>
			<th>timestamp (UTC+0)</th>
			<th>start hash A</th>
			<th>start hash B</th>
			<th>end hash</th>
			<th>user A</th>
			<th>user B</th>
		</tr>
		{% for timestamp, starta, startb, end, usera, userb in collisions %}
		<tr>
			<td>{{ timestamp }}</td>
			<td><code>{{ starta }}</code></td>
			<td><code>{{ startb }}</code></td>
			<td><code>{{ end }}</code></td>
			<td>{{ usera }}</td>
			<td>{{ userb }}</td>
		</tr>
		{% endfor %}
	</table>

	<p>Page rendered in {{ render_time }}ms</p>
</body>
</html>
